/**
$width:620; 
$module1Width:192;
$moudle2Widht:400;
$gapWdith:16;

$height:816;
$module1Height:192;
$gapHeight:16;
*/
/**
$gapWidth:1.9%;//16/604*100
$gapBottomHeight:2%;

$w1:192/604*100%;
$w2:400/604*100%;

$h1:23%;
$rowHeight:23.52%;
$rowMarignBottom:1.96%;

*/
